In [1]:
d = {}

In [2]:
type(d)

dict

In [5]:
# ways to create a dictionary
student = {"Name" : "Alice", "Age" : 25, "grade" : "A"}
print(student)

{'Name': 'Alice', 'Age': 25, 'grade': 'A'}

In [4]:
student = dict(name='Adi', grade='A', age=22)
print(student)

{'name': 'Adi', 'grade': 'A', 'age': 22}

In [6]:
data = [('name', 'Alice'), ('grade', 'A'), ('age', 22)]
student = dict(data)
print(student)

{'name': 'Alice', 'grade': 'A', 'age': 22}

In [7]:
old_dict = {'apple': 2, 'banana': 3}
new_dict = dict(old_dict)
print(new_dict)

{'apple': 2, 'banana': 3}

In [8]:
keys = ['name', 'grade', 'age']
values = ['Alice', 'A', 22]
student = dict(zip(keys, values))
print(student)

{'name': 'Alice', 'grade': 'A', 'age': 22}

In [9]:
# Create a dictionary where keys are numbers and values are their squares
squares = {x: x*x for x in range(5)}
print(squares) # Output: {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [10]:
keys = ['key1', 'key2', 'key3']
default_value = 0
new_dict = dict.fromkeys(keys, default_value)
print(new_dict) # Output: {'key1': 0, 'key2': 0, 'key3': 0}

{'key1': 0, 'key2': 0, 'key3': 0}

In [11]:
# add key value pair
student["City"] = "New York"

In [12]:
print(student)

{'name': 'Alice', 'grade': 'A', 'age': 22, 'City': 'New York'}

In [13]:
#update value
student["age"] = 26
print(student)

{'name': 'Alice', 'grade': 'A', 'age': 26, 'City': 'New York'}

In [14]:
student.pop("grade")

'A'

In [15]:
print(student)

{'name': 'Alice', 'age': 26, 'City': 'New York'}

In [16]:
for key, value in student.items():
    print(key, ":", value)

name : Alice
age : 26
City : New York

In [13]:
pop = [30.55,2.77,39.21]
countries = ["afghanistan", "albania", "algeria"]
world = dict(zip(countries,pop))

In [14]:
print(world)

{'afghanistan': 30.55, 'albania': 2.77, 'algeria': 39.21}

In [15]:
print(world["albania"])

2.77

In [16]:
world["sealand"] = 0.000027

In [17]:
print(world)

{'afghanistan': 30.55, 'albania': 2.77, 'algeria': 39.21, 'sealand': 2.7e-05}

In [18]:
del(world["sealand"])