# Series Creation Different methods

In [20]:
import pandas as pd,numpy as np
# specify data as sequence 1
s1 = pd.Series(range(5))
type(s1)
print(s1)

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [21]:
#sequence 2
s2 = pd.Series([1,2,3,4,5])
print("Series Object 2:")
print(s2)

Series Object 2:
0    1
1    2
2    3
3    4
4    5
dtype: int64

In [22]:
#sequence 3
s3 = pd.Series((1,3,5,7))
print("Series Object 3:")
print(s3)

Series Object 3:
0    1
1    3
2    5
3    7
dtype: int64

In [23]:
#specify data as ndarray
nda1 = np.arange(3,13, 3.5)
print(nda1)
ser1 = pd.Series(nda1)
ser1

[ 3.   6.5 10. ]

0     3.0
1     6.5
2    10.0
dtype: float64

In [24]:
s4 = pd.Series(np.linspace(24,64,5))
print(s4)

0    24.0
1    34.0
2    44.0
3    54.0
4    64.0
dtype: float64

In [25]:
s5 = pd.Series(np.tile([3,5],2))
print(s5)

0    3
1    5
2    3
3    5
dtype: int64

In [78]:
# as python dictionary
stu = {'A':39,'B':41,'C':42,'D':44,'E':40,'F':36,'G':43 ,'H':33,'I':45,'J':38}
s6 = pd.Series(stu)
print(s6)

A    39
B    41
C    42
D    44
E    40
F    36
G    43
H    33
I    45
J    38
dtype: int64

In [27]:
#as scalar value
s7 = pd.Series(50000, index = ['Q1','Q2','Q3','Q4'])
print(s7)

Q1    50000
Q2    50000
Q3    50000
Q4    50000
dtype: int64

In [28]:
s9 = pd.Series(data = [32,34,36], index = ['A','B','C'])
print(s9)

A    32
B    34
C    36
dtype: int64

In [29]:
section = ['A','B','C','D','E']
contri = np.array([6700,5600,5000,5200,np.nan])
s10 = pd.Series(contri * 2, section)
print(s10)

A    13400.0
B    11200.0
C    10000.0
D    10400.0
E        NaN
dtype: float64

In [30]:
s11 = pd.Series([11,12.2,"HI"])
print(s11)

0      11
1    12.2
2      HI
dtype: object

# Series Attributes
## important Series Attributes : 
* **values** : returns value array 
* **dtype** : data type of series objectn 
* **nbyte** : total no. of bytes in series object 
* **size** : no. of elements in series 
* **shape** : no. of elements including nan and missing
* **empty** : returns boolean for is series empty? 
* **hasnans** : checks if series has nan value, returns boolean

In [51]:
s7

Quarters
Q1    50000
Q2    50000
Q3    50000
Q4    50000
Name: Quaterly Budget, dtype: int64

In [33]:
s7.index

Index(['Q1', 'Q2', 'Q3', 'Q4'], dtype='object')

In [34]:
s7.values

array([50000, 50000, 50000, 50000])

In [35]:
s7.index.name = "Quarters"
s7.name = "Quaterly Budget"

In [36]:
s7

Quarters
Q1    50000
Q2    50000
Q3    50000
Q4    50000
Name: Quaterly Budget, dtype: int64

In [38]:
s7.dtype

dtype('int64')

In [43]:
s7.nbytes

32

In [44]:
s7.size

4

In [45]:
itemsize = s7.nbytes / s7.size
print(itemsize)

8.0

In [46]:
s7.shape

(4,)

In [47]:
s7.ndim

1

In [48]:
s7.empty

False

In [49]:
s7.hasnans

False

# Series Operations

In [55]:
s6

A    39
B    41
C    42
D    44
E    40
F    36
G    43
H    33
I    45
J    38
dtype: int64

In [57]:
print(s6['G'])

43

In [58]:
s6[2]

C:\Users\ADITYA DIXIT\AppData\Local\Temp\ipykernel_23384\187151765.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s6[2]

np.int64(42)

In [59]:
s6[2:5]

C    42
D    44
E    40
dtype: int64

In [60]:
s6[::2]

A    39
C    42
E    40
G    43
I    45
dtype: int64

In [61]:
s6[::-1]

J    38
I    45
H    33
G    43
F    36
E    40
D    44
C    42
B    41
A    39
dtype: int64

In [62]:
s6

A    39
B    41
C    42
D    44
E    40
F    36
G    43
H    33
I    45
J    38
dtype: int64

In [63]:
s6[2] = 40

C:\Users\ADITYA DIXIT\AppData\Local\Temp\ipykernel_23384\487095347.py:1: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  s6[2] = 40

In [64]:
s6

A    39
B    41
C    40
D    44
E    40
F    36
G    43
H    33
I    45
J    38
dtype: int64

In [75]:
#s6.index = ['a','b','c','d','e','f','g','h','i','j']

In [79]:
s6

A    39
B    41
C    42
D    44
E    40
F    36
G    43
H    33
I    45
J    38
dtype: int64

In [80]:
s6.head()

A    39
B    41
C    42
D    44
E    40
dtype: int64

In [81]:
s6.tail()

F    36
G    43
H    33
I    45
J    38
dtype: int64

In [82]:
s6 * 2

A    78
B    82
C    84
D    88
E    80
F    72
G    86
H    66
I    90
J    76
dtype: int64

In [83]:
s6 > 40

A    False
B     True
C     True
D     True
E    False
F    False
G     True
H    False
I     True
J    False
dtype: bool

In [84]:
s6[s6 > 40]

B    41
C    42
D    44
G    43
I    45
dtype: int64

In [85]:
s6 + s9
#arithmetic operations are performed only on matching indices

A    71.0
B    75.0
C    78.0
D     NaN
E     NaN
F     NaN
G     NaN
H     NaN
I     NaN
J     NaN
dtype: float64

In [86]:
s6.sort_values()

H    33
F    36
J    38
A    39
E    40
B    41
C    42
G    43
D    44
I    45
dtype: int64

In [87]:
s6.sort_values(ascending = False)

I    45
D    44
G    43
C    42
B    41
E    40
A    39
J    38
F    36
H    33
dtype: int64

In [88]:
s6.sort_index()

A    39
B    41
C    42
D    44
E    40
F    36
G    43
H    33
I    45
J    38
dtype: int64

In [89]:
s6.sort_index(ascending = False)

J    38
I    45
H    33
G    43
F    36
E    40
D    44
C    42
B    41
A    39
dtype: int64

In [90]:
s6.drop('H')

A    39
B    41
C    42
D    44
E    40
F    36
G    43
I    45
J    38
dtype: int64